main {
    margin-top: 32px;
}

.package {
    width: 80%;
    margin: 16px 0;
    border: 4px solid #0E4F1F;
    border-left: none;
}

.package:hover,
.package:active {
    border-color: #FF5454;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.package__link {
    text-decoration: none;
    display: block;
    padding: 32px;
}

.package__title {
    color: black;
}

.package__subtitle {
    color: #979797;
}

.package__info {
    background: white;
    color: #0E4F1F;
    font-size: 20px;
    border: 1px solid #0E4F1F;
    padding: 16px;
}

.clearfix {
    clear: both;
}

#plus {
    background: rgba(213, 255, 220, 0.95);
}

#free {
    background: rgba(234, 252, 237, 0.95);
    border-left: 4px solid #0E4F1F;
    border-right: none;
    text-align: right;
    float: right;
}

#free:hover,
#free:active {
    border-color: #FF5454;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
}

#premium {
    background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #BBB;
}
